:root {
    --black-color: #2c2c2c;
}

/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
.link {
    text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Властивості для обнулення курсиву address */
address {
    font-style: normal;
}

body {
    /* font-family: 'Inter', sans-serif;
    font-family: 'Kalam', cursive; */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--black);
}

.container {
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}




/* Favorites */

.favorites-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
/* /*Зникнення маркерів на сторінці*../images/people-office.jpg/ */



/*Customers*/


.customers .customers-container{
    margin-left: auto;
    margin-right: auto;
}

ul,
lo {
    list-style-type: none;
}

.customers-title {
    padding-top: 100px;
    color: var(--black, #2C2C2C);
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .avatar::after{
    content:"";
    width: 52px;
    /* height: 1px; */
    /* background-color
    
    /* border: right 1px; */
    /* border-right: 1px solid #7EB101; */
    /* height: 1px; */
    /* position:relative; */
    /* display: block;  */
    /* rotation:90; */

    /* border-right:2px; */
    /* bottom: -1px; */
/* } */ 

.customers-container-icon{
    padding-bottom: 200px;
}
/* .customers-container-icon{
max-width: 501px;
height: 227px;
} */
.customers-paragrapf {
    margin-top: 20px;
    margin-bottom: 32px;
    color: var(--black, #2C2C2C);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.customers-tetx {
    margin-top: 28px;
    margin-bottom: 40px;
    width: 473px;
    color: var(--black, #2C2C2C);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.customers-menu-text-up{
color: var(--black, #2C2C2C);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%;
/* 21px */
}
.customers-menu-text{
color: var(--black, #2C2C2C);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
/* 21px */
}

.customers-item {
    display: flex;
    flex-direction: row;
    /* align-items: baseline; */
}

.avatar{
align-items: baseline;
} 

.customers-menu {
    display: flex;
}

.customers-menu {
    display: flex;
    flex-direction: column;
}

.customers-icon-star,
.customers-icon-end {
    width: 501px;
}

.customers-container-icon,
.customers-icon-star,
.customers-icon-end {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    column-gap: 139px;
}

/* justify-content: flex-start; 
} */
.customers-img {
    height: 48px;
    width: 48px;
}
 .customers-info{
    width: 473px;
    height: 155px;
 }
.icon-stars {
    width: 101px;
    height: 16px;
}

.customers{
max-width:1280px;
background-image:url(../img/Customers_Say/Rectangleo.jpg);
background-repeat: no-repeat;
background-size: auto;
/* height 647px; */
}
.customers-icon-star{
    background-image: url(../img/Customers_Say/Rectanglew.jpg);
    background-size: cover;
    background-position: 16px 220px;
    width: 501px;
    height: 227px;
    border-radius:0px 30px 30px 30px;
    padding: 14px;
}

.customers-icon-end{
    background-image: url(../img/Customers_Say/Rectanglew.jpg);
    background-size: cover;
    background-position: 16px 220px;
    width: 501px;
    height: 227px;
    padding: 14px;
    border-radius: 0px 30px 30px 30px;
}